doctype html
head
 include head
 link(rel='stylesheet' href='/css/style.css')
include navbar
section(style='background-color:black; margin-top: 13rem; margin-bottom: 4rem;')
  .container.py-5
    .row
      .col-lg-4
        .card.mb-4
          .card-body.text-center
            img.rounded-circle.img-fluid(src=`/images/userPhotos/${user.photo}` alt='avatar' style='width: 150px;')
            h5.my-3=user.name
            p.text-muted.mb-1=user.roles
            
            .d-flex.justify-content-center.mb-2
              a(href=`/updateMe/${user._id}`)
                button.btn.btn-primary(type='button') EDIT
      .col-lg-8(style='margin-top: 6rem;')
        .card.mb-4
          .card-body
            .row
              .col-sm-3
                p.mb-0 Full Name
              .col-sm-9
                p.text-muted.mb-0=user.name
            hr
            .row
              .col-sm-3
                p.mb-0 Email
              .col-sm-9
                p.text-muted.mb-0(style='text-transform: lowercase;')=user.email
            hr
            .row
              .col-sm-3
                p.mb-0 Phone
              .col-sm-9
                p.text-muted.mb-0=user.phone
            hr
            .row
              .col-sm-3
                p.mb-0 score
              .col-sm-9
                p.text-muted.mb-0=user.sum
            hr
            .row
              .col-sm-3
                p.mb-0 location
              .col-sm-9
                p.text-muted.mb-0=user.location
            
include footer
// custom js file link
script(src='js/script.js')
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
s