doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css' integrity='sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==' crossorigin='anonymous' referrerpolicy='no-referrer')
  link(rel='stylesheet' href='/css/style.css')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  title update
include navbar
.container.mt-3
  .row.d-flex.justify-content-center.align-items-center.h-100
    .col-lg-12.col-xl-11
      .card.text-black(style='border-radius: 25px;')
        .card-body.p-md-5
          .row.justify-content-center
            .col-md-10.col-lg-6.col-xl-5.order-2.order-lg-1
              p.text-center.h1.fw-bold.mb-5.mx-1.mx-md-4.mt-4 user details
              form.mx-1.mx-md-4(class="form--update")
                .d-flex.flex-row.align-items-center.mb-4
                  i.fas.fa-user.fa-lg.me-3.fa-fw
                  .form-outline.flex-fill.mb-0
                    input#userId.form-control(type='text' name='oldStaffId' value=`${user._id}` readonly)
                    label.form-label(for='name')  user Id
                .d-flex.flex-row.align-items-center.mb-4
                  i.fas.fa-user.fa-lg.me-3.fa-fw
                  .form-outline.flex-fill.mb-0
                    input#name.form-control(type='text' name='name' value=`${user.name}`)
                    label.form-label(for='name')  Name
                .d-flex.flex-row.align-items-center.mb-4
                  i.fas.fa-envelope.fa-lg.me-3.fa-fw
                  .form-outline.flex-fill.mb-0
                    input#email.form-control(type='email' value=`${user.email}`)
                    label.form-label(for='email')  Email
                .d-flex.flex-row.align-items-center.mb-4
                  i.fa-solid.fa-mobile-retro
                  .form-outline.flex-fill.mb-0
                    input#phone.form-control(type='text' value=`${user.phone}`)
                    label.form-label(for='phone') Phone number
                .d-flex.flex-row.align-items-center.mb-4
                  i.fa-solid.fa-mobile-retro
                  .form-outline.flex-fill.mb-0
                    input#location.form-control(type='text' value=`${user.location}`)
                    label.form-label(for='location') Nearest City
                .d-flex.flex-row.align-items-center.mb-4
                  i.fa-solid.fa-mobile-retro
                  .form-outline.flex-fill.mb-0
                    input#photo.form-control(type='file')
                    label.form-label(for='photo') Choose photo
                .d-flex.justify-content-center.mx-4.mb-3.mb-lg-4
                  button.btn.btn-primary.btn-lg(type='submit') Update
            .col-md-10.col-lg-6.col-xl-7.d-flex.align-items-center.order-1.order-lg-2
              img.img-fluid(src='https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp' alt='Sample image')
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')
script(src="/js/updateMe.js")